* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: #E2d9ca;

}
header span{
    color: #e34234;
    font-size:50px;
    font-weight: bolder;
    font-style: oblique;
}

header{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    border-bottom: 3px solid black;
    padding: 10px;
    box-shadow: 4px 8px 5px 5px #e2e3dd;
    background: #c6b49f;
}
header a.head{
    color: #2c2929 ;
    text-decoration: none;
    font-size: large;
}
header nav a{
    text-decoration: none;
    color: #2c2929;
    font-size: 20px;
    gap: 10px;
}
.content{
    display: flex;
    text-align: center;
    align-items: center;
     /* background: #F1E3F3; */
    border: 1px solid #F1E3F3;
    border-radius: 15px;
  
    display: flex;
}
.content-text{
    padding: 10px;
    margin-bottom: 20px;
    width: 70%;
    text-align: center;
    align-items: center;

}
.content-text h3{
/* border: 1px solid black; */
border-radius: 20px;
/* margin: 20px; */
padding: 50px;
text-align: center;
    align-items: center;
    font-family: sans-serif;
    background: #f4d7ac;
    margin-bottom: 20px;
}
.content-text h2{
border: 1px solid #f4d7ac;
border-radius: 20px;
margin: 20px;
padding: 10px;
text-align: center;
    align-items: center;
    font-family: sans-serif;
}
.content-text p{
border: 1px solid #f4d7ac;
margin: 50px;
white-space: normal;
text-align: center;
    align-items: center;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 5px;
    font-size: larger;
    font-display: auto;
    font-weight: bolder;

}
.content-text h2{
border: 1px solid #f4d7ac;
margin: 20px;
text-align: center;
    align-items: center;
    font-family: sans-serif;
}

.image img{
    
    width: 100%;
  
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 88%;
    object-fit: cover;
}
.image{
     position: relative;
}
.about-me{
    background: #f4d7ac;
    border: 1px solid #f4d7ac;
    border-radius: 15px;
  
    display: flex;
   
}
.about-me video{
   width: 100%;
    
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 88%;
    object-fit: cover;
}
.about-me .video{
    
    position: relative;
}
.about-me .video h3{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-size: 0.7rem;
    background: #fff;
    width: 100%;
    padding: 1rem 0rem;
    text-align: center;
    mix-blend-mode: screen;
    margin-left: 4px;
}
.about-me__text p{
    font-family: sans-serif;
    font-display: auto;
    font-size: 1.2rem;
    color: black;
    margin-left: 20px;
    padding-top: 1rem;
    line-height: 1;
}

.publications-content{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 10px; */
    margin: 10px;
    text-align: center;
    align-items: center;
    
}
.publications-content{
    display: flex;
}
.publications-text h2{
    text-align: center;
    align-items: center;
    font-size: large;
    font-family: sans-serif;
    margin-top: 5px;
    padding: 5px;
}
button{
    border: 1px solid black;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    background: #CCD5AE ;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7rem;
}
button:hover{
    color: #F1E3F3;
    background: #1b200b ;
}
.image-img{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image-social .image-img img{
    width: 40px;
    height: 40px;
    padding: 8px;
}
footer{
    border-top: 3px solid black;
}









/* //media// */
@media (max-width: 480px){
    .image img{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    /* margin-top: 50px; */
    border-radius: 15px;
    display: block;
    /* padding: 10px; */
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content-text h3{
border: 1px solid black;
margin: 2px;
white-space: normal;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
font-weight: 300;
}
.content-text p{
border: 1px solid black;
margin: 40px;

}
.content-text{
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;

}
.content-text h2{
border: 1px solid black;
margin: 10px;
}
section.about-me .about-me__text p{
    white-space: normal;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
font-weight: 300;

}
.about-me__text{
padding: 3px;
}
.about-me video{
    width: 100%;
    margin-top: 50px;
    padding: 5px;
    
    border-radius: 4px;
}
.publications-content{
    display: flex;
    margin: 0;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0
    px;
    margin: 0px;
    text-align: center;
    align-items: center;
    
}
.publications-content .pub1 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.publications-content .pub2 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.publications-content .pub3 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.publications-content .pub4 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.publications-content .pub5 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.publications-content .pub6 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
.publications-content .pub7 h3,p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
}
